<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JokestoGo - Laughs for Everyone!</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <h1>Initial Project Template</h1>
    <span><%= joke["joke"] %></span>
</body>
</html>