<main>
	<div class="title">
		<h1>Jokes</h1>
		<p>to<span>&nbsp;go</span></p>
	</div>
	<div class="card">
		<div class="card-content">
			<p class="quote">"</p>
			<div class="joke">
				<p class="joke-content" id="joke-content"><%= joke["joke"] %></p>
			</div>
		</div>
		<ul class="categories" id="categories">
			<% categories.forEach(category => { %>
			<li class="<%= category %>"><%= category %></li>
			<% }) %>
		</ul>
		<button class="refresh" id="refresh">
			<span class="material-symbols-outlined"> sync </span>
		</button>
	</div>
	<div class="menu"></div>
</main>
