<main>
    <div class="title">
        <h1>Jokes </h1>
        <p>to<span>&nbsp;go</span></p>
    </div>
    <div class="card">
        <div class="tools"></div>
        <p class="quote">"</p>
        <div class="joke">
            <p class="joke-content"><%= joke["joke"] %></p>       
        </div>
        <div class="links"></div>
    </div>
</main>

