<main>
	<div class="title">
		<h1>Jokes</h1>
		<p>to<span>&nbsp;go</span></p>
	</div>
	<div class="card">
		<div class="card-content">
			<p class="quote">"</p>
			<div class="joke">
				<p class="joke-content"><%= joke["joke"] %></p>
			</div>
		</div>
		<ul class="categories">
			<% categories.forEach(category => { %>
				<li class="<%= category %>"><%= category %></li>			 
			<% }) %>
		</ul>
	</div>
	<div class="menu"></div>
</main>
