* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', 'Arial', sans-serif;
}

body {
    height: max(100%, 100vh);
    background-color: #304D30;
}

main {
    height: 100%;
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    color: #F2E94E;
    margin-left: -10px;
}

.title h1 {
    font-family: 'Satisfy', cursive;
    font-size: 44px;
    line-height: 15px;
}

.title p {
    font-family: 'Seaweed Script', cursive;
    font-size: 30px;
    text-align: right;
    margin-right: 10px;
    position: relative;
}

.title p span {
    position: absolute;
    font-family: 'Seaweed Script', cursive;
    font-size: 25px;
    top: -1px;
    right: -25px;
}

.card {
    position: relative;
    color: white;
    padding: 30px 20px;
    border-radius: 10px;
    min-height: 400px;
    width: min(350px, 80%);
    background-color: #163020;
    margin-top: 20px;
}

.card .joke {
    /* outline: 1px solid black; */
    padding-left: 20px;
}

.card .joke p {
    line-height: 2.5ch;
    font-size: 18px;
    letter-spacing: 0.1ch;
}


.joke-content {
    white-space: pre-wrap;
    text-wrap: balance;
    width: 200px;
}
.quote {
    font-size: 72px;
    font-weight: 900;
    text-align: right;
    font-family: 'IM Fell DW Pica', serif;
    line-height: 1ch;
}


/* 
    #163020
    #304D30
    #B6C4B6
    #EEF0E5
*/

/* font-family: 'Satisfy', cursive;
font-family: 'Seaweed Script', cursive;
font-family: 'Ubuntu', sans-serif; */